.form-group .col-form-label {
    font-weight: 500;
}
.form-group .details-label {
    font-weight: 500;
}

.form-group .k-invalid-msg.field-validation-error {
    display: inline;
}

.k-grid a.btn {
    color:white;
}

.col-align-right {
    text-align: right !important;
}

.k-editor .k-tool-group {
    margin: 1px;
}