@model RoleCreateViewModel


@{
    ViewData["Title"] = "Tạo Quyền";
}


<h4>Tạo Quyền</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Name" class="col-form-label">Tên quyền</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Name" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="NormalizedName" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="NormalizedName" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="NormalizedName" class="text-danger"></span>
        </div>
    </div>
    @*<div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="ConcurrencyStamp" class="col-form-label"></label>
        </div>
        <div class="col-md-7">
            <input asp-for="ConcurrencyStamp" class="k-textbox form-control" />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
        </div>
    </div>*@

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Trở lại</a>
        </div>
    </div>
</form>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
