@model AspNetUserRolesCreateViewModel


@{
    ViewData["Title"] = "Create";

}

<h4>Create Phân Quyền</h4>
<hr />
@*<form>*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Phân quyền" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label class="col-form-label">Người dùng: </label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <select asp-for="UserId" asp-items="ViewBag.UsersID" class="form-control" ></select>

        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span class="text-danger"></span>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Phân quyền" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại</a>
        </div>
    </div>
@*</form>*@

<script>


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var _urlUsers = '@Url.Action("Create", "GrantRights")';
    </script>
    <script src="~/js/Users.js"></script>
}
