@model ContactCreateViewModel


@{
    ViewData["Title"] = "Create";
}


<h4>Create Contact</h4>
<hr />
<form asp-action="Create">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row form-group">	
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
			<input type="submit" value="Create" class="btn btn-primary" />
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Name" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Name" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Email" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Email" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Phone" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Phone" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Title" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Title" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Body" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<input asp-for="Body" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Body" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="IsRead" class="col-form-label"></label>
							<span class="text-danger">*</span>
					</div>
						<div class="col-md-7">
								<kendo-switch for="IsRead" checked="@Model?.IsRead"/>
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="IsRead" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="FkProductCommentId" class="col-form-label"></label>
					</div>
						<div class="col-md-7">
								<input asp-for="FkProductCommentId" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="FkProductCommentId" class="text-danger"></span>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-md-3 text-md-right ">
						<label asp-for="Note" class="col-form-label"></label>
					</div>
						<div class="col-md-7">
								<input asp-for="Note" class="k-textbox form-control" />
						</div>	
					<div class="offset-md-3 col-md-7 at-wrapper-validate">
						<span asp-validation-for="Note" class="text-danger"></span>
					</div>
				</div>
	<div class="row form-group">	
		<div class="col-md-3 text-md-right ">
		</div>
		<div class="col-md-7">
			<input type="submit" value="Create" class="btn btn-primary" />
			<a asp-action="Index" class="k-button">Back to List</a>
		</div>
	</div>
</form>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
