@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trung Tâm Công Nghệ Thông Tin</title>
    <link rel="shortcut icon" href="~/img/logo.png">

    @*dropdownlist*@
    <link href="~/lib/DropdownMenu/bootstrapv4.3.1.min.css" rel="stylesheet" />
    <script src="~/lib/DropdownMenu/jquery.v3.4.1.min.js"></script>
    <script src="~/lib/DropdownMenu/popper.min.js"></script>
    <script src="~/lib/DropdownMenu/bootstrap.v4.3.1.min.js"></script>

    <link rel="stylesheet" href="~/lib/regular.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/at-e-commerce.css" />
    <link href="~/css/style.css" rel="stylesheet" />


    <link href="~/vendors/css/gauge.min.css" rel="stylesheet" />
    <link href="~/vendors/css/toastr.min.css" rel="stylesheet" />
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendors/css/simple-line-icons.min.css" rel="stylesheet">



    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/jszip.min.js"></script>
    <script src="~/lib/kendo.all.min.js"></script>
    <script src="~/lib/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/app.js"></script>

</head>
<body>

    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none mr-auto">
        </ul>
        <div class="login" style="margin-right: 105px;">
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">

                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav">
                        <li class="nav-item">
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="container">
                                    <div class="btn-group-vertical">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                Quản trị
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="nav-link" asp-controller="Role" asp-action="Index"><i class="icon-speedometer"></i>Quyền</a>
                                                <a class="nav-link" asp-controller="Users" asp-action="Index"><i class="icon-speedometer"></i>Tài khoản</a>
                                                <a class="nav-link" asp-controller="GrantRights" asp-action="Index"><i class="icon-speedometer"></i>Cấp Quyền</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </li>

                        <li class="nav-item">
                            <div class="container">
                                <div class="btn-group-vertical">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Sản phẩm
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="nav-link " asp-controller="Product" asp-action="Index"><i class="icon-speedometer"></i>Sản phẩm</a>
                                            <a class="nav-link " asp-controller="Category" asp-action="Index"><i class="icon-speedometer"></i>Loại sản phẩm</a>
                                            <a class="nav-link " asp-controller="ProductComment" asp-action="Index"><i class="icon-speedometer"></i>Bình luận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="container">
                                <div class="btn-group-vertical">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Tin tức
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="nav-link " asp-controller="News" asp-action="Index"><i class="icon-speedometer"></i>Tin tức</a>
                                            <a class="nav-link " asp-controller="NewsType" asp-action="Index"><i class="icon-speedometer"></i>Loại tin tức</a>
                                            <a class="nav-link " asp-controller="NewsComment" asp-action="Index"><i class="icon-speedometer"></i>Bình luận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="container">
                                <div class="btn-group-vertical">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Đào tạo
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="nav-link " asp-controller="Course" asp-action="Index"><i class="icon-speedometer"></i>Khóa học</a>
                                            <a class="nav-link " asp-controller="CourseType" asp-action="Index"><i class="icon-speedometer"></i>Loại khóa học</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="container">
                                <div class="btn-group-vertical">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Giới thiệu
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="nav-link " asp-controller="AboutUs" asp-action="Index"><i class="icon-speedometer"></i>Giới thiệu</a>
                                            <a class="nav-link " asp-controller="Service" asp-action="Index"><i class="icon-speedometer"></i>Dịch vụ</a>
                                            <a class="nav-link " asp-controller="Contact" asp-action="Index"><i class="icon-speedometer"></i>Liên hệ</a>
                                            <a class="nav-link " asp-controller="Employee" asp-action="Index"><i class="icon-speedometer"></i>Nhân Viên</a>
                                            <a class="nav-link " asp-controller="EmployeeType" asp-action="Index"><i class="icon-speedometer"></i>Loại nhân Viên</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li class="nav-item">
                            <div class="container">
                                <div class="btn-group-vertical">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Website
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="nav-link " asp-controller="Menu" asp-action="Index"><i class="icon-speedometer"></i>Menu</a>
                                            <a class="nav-link " asp-controller="CustomerRegister" asp-action="Index"><i class="icon-speedometer"></i>Đăng ký nhận tin</a>
                                            <a class="nav-link " asp-controller="Setting" asp-action="Index"><i class="icon-speedometer"></i>Setting</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                }
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

        <!-- Main content -->
        <div class="main">
            <div class="container-fluid">
                @*<partial name="_CookieConsentPartial" />*@
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Trung Tâm Công Nghệ Thông Tin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
