@model SettingViewModel

<section class="banner-sec">
    <div class="main-banner inner" @*style=" background:url(../images/@Model.setting.BANNER) no-repeat top center fixed; background-size:cover;"*@>
        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.CONTACT</h1>
                <h6>@Model.setting.CONTACT_SLOGAN </h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>