@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome To AT Solution</h1>
        <img src="~/img/logo.png" />
        <h2 style="color: red;">Đăng Nhập Thành Công</h2>
    </div>
}