@model SettingViewModel

<section class="banner-sec">
    <div class="main-banner inner" style=" background:url(../images/@Model.setting.BANNER); background-size:cover;">

        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.ABOUTUS</h1>
                <h6>@Model.setting.ABOUTUS_SLOGAN</h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>