

<div id="tt-template-list-employee">
    <div class="col-md-4">
        <div class="team-member">
            <div class="team-member-box">
                <div class="image-holder">
                    <img id="add-src" alt="">
                </div>
                <div class="text-box">
                    <h6>CEO & Founder</h6>
                    <h5 id="tt-employee-name">Moreena Mozi</h5>
                    <hr>
                    <p id="tt-employee-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>

                </div>

            </div>
        </div>
    </div>
</div>