@model SettingViewModel

<section class="banner-sec">
    <div class="main-banner inner" style=" background:url(../../Images/@Model.setting.IMAGESLIDE) no-repeat top center fixed;">
        <a href="#" name="scroll-top-div"></a>
        <div class="overlay-mask">
            <!-- Start:Slider area -->
            <div class="container">
                <h1>@Model.setting.EMPLOYEE</h1>
                <h6>@Model.setting.EMPLOYEE_SLOGAN</h6>
                <hr>
            </div>
            <!-- End:Slider area -->
        </div>
    </div>
</section>