@inject TTCNTT.Efs.Context.WebTTCNTTContext webContext


<div id="mask">
    <div id="loader">
    </div>
</div>
<!-- =================================================
Preloader Area End -->
<!-- Header Area Start
====================================================== -->
<header class="header-area">
    <div class="container">

        <!-- Start: Top Logo Area -->
        <div class="col-md-4 left-side">
            <div class="logo"><a href="index.html"> <img src="~/template/img/top-logo.png" alt=""></a></div>
        </div>
        <div class="mob-icon"><i class="fa fa-bars"></i></div>
        <!-- End: Top Logo Area -->
        <!-- Start:Main Navigation -->
        <div class="col-md-8 right-side">
            <div class="menu-bar">
                <nav>
                    <ul class="menu">

                        @{
                            var menuModel = await TTCNTT.Helpers.MenuHelper.GetDataMenu(webContext);
                            <partial name="_MenuPartial" model="menuModel" />
                        }

                    </ul>
                </nav>
            </div>
        </div>
        <!-- End:Main Navigation -->
    </div>
</header>
<!-- =================================================
Header Area End -->
<!-- Banner Area
====================================================== -->
<section class="banner-sec-01" id="home">
    <div id="particles">

        <div class="cont-area">

            <div class="container">
                <!-- Start:Slider area -->
                <div class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <!-- Start: Banner Slide 01 -->
                            <li>
                                <h3>Hello...!!!</h3>
                                <h1>We Are Alamben</h1>
                                <h5>Creating Awesome Applications For Your Needs</h5>
                            </li>
                            <!-- End: Banner Slide 01 -->
                            <!-- Start: Banner Slide 02 -->
                            <li>
                                <h3>Who We Are</h3>
                                <h1>We Are The Best</h1>
                                <h5>Creating Awesome Applications For Your Needs</h5>
                            </li>
                            <!-- End: Banner Slide 02 -->
                        </ul>
                    </div>
                </div>
                <!-- End:Slider area -->
            </div>

        </div>

    </div>
</section>
<!-- =================================================
Banner Area End -->
