@inject TTCNTT.Efs.Context.WebTTCNTTContext webContext


<div id="mask">
    <div id="loader">
    </div>
</div>
<!-- =================================================
Preloader Area End -->
<!-- Header Area Start
====================================================== -->
<header class="header-area">
    <div class="container">

        <!-- Start: Top Logo Area -->
        <div class="col-md-4 left-side">
            <div class="logo"><a href="index.html"> <img src="~/template/img/top-logo.png" alt=""></a></div>
        </div>
        <div class="mob-icon"><i class="fa fa-bars"></i></div>
        <!-- End: Top Logo Area -->
        <!-- Start:Main Navigation -->
        <div class="col-md-8 right-side">
            <div class="menu-bar">
                <nav>
                    <ul class="menu">

                        @{
                            var menuModel = await TTCNTT.Helpers.MenuHelper.GetDataMenu(webContext);
                            <partial name="_MenuPartial" model="menuModel" />
                        }

                    </ul>
                </nav>
            </div>
        </div>
        <!-- End:Main Navigation -->
    </div>
</header>
<!-- =================================================
Header Area End -->
<!-- Banner Area
====================================================== -->

<!-- =================================================
Banner Area End -->
