<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTCNTT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Thư viện template -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Core CSS -->
    <link type="text/css" rel="stylesheet" href="~/template/css/bootstrap.css"><!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/template/font-awesome/css/font-awesome.min.css"><!-- font-awesome -->
    <link type="text/css" rel="stylesheet" href="~/template/css/animate.min.css"><!-- Animation -->
    <link type="text/css" rel="stylesheet" href="~/template/css/flexslider.css"><!-- FlexSlider CSS -->
    <link type="text/css" rel="stylesheet" href="~/template/css/style.css"><!-- Light Theme Core CSS -->
    <!-- Google Fonts here -->
    <link href="~/template/css/fonts/poppins.css" rel='stylesheet' type='text/css'>
    <link href="~/template/css/fonts/open-sans.css" type='text/css'>
    <link href="~/template/css/fonts/lato.css" rel='stylesheet' type='text/css'>
</head>
<body>
        <partial name="_header" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <partial name="_footer" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- lbr JS -->
    <script type="text/javascript" src="~/template/js/jquery.js"></script>
    <script type="text/javascript" src="~/template/js/jquery.particleground.js"></script><!-- Particle Header Js -->
    <script type="text/javascript" src="~/template/js/particle.js"></script><!-- Particle Header Js -->
    <script type="text/javascript" src="~/template/js/owl.carousel.js"></script><!-- Owl Carousel Js -->
    <script type="text/javascript" src="~/template/js/owl-carousel-settings.js"></script><!-- Owl Carousel Settings Js -->
    <script type="text/javascript" src="~/template/js/jquery.flexslider.js"></script><!-- Flexslider Settings Js -->
    <script type="text/javascript" src="~/template/js/mini-grid.js"></script><!-- Mini Master Grid Js -->
    <script type="text/javascript" src="~/template/js/settings.js"></script><!-- Settings Js -->
    <script type="text/javascript" src="~/template/js/bootstrap.js"></script><!-- Bootstrap Js -->
    <script type="text/javascript" src="~/template/js/featherlight.min.js"></script><!-- Feather-Lightbox (projects) Js -->
    <script type="text/javascript" src="~/template/js/forms.js"></script><!-- Form Js -->
    <script type="text/javascript" src="~/template/js/animation.js"></script><!-- Animation Js -->
</body>
</html>
